<div class="container-fluid">
  <div class="welcome-message">
    <div class="welcome-header d-flex">
      <h3>Complete</h3>
      <app-breadcrumb></app-breadcrumb>
    </div>
  </div><!-- /.welcome-message -->
</div>

<div class="inner-wrapper" id="wrapper">
  <div id="content-wrapper">
    <div class="container-fluid">
      <div class="welcome-outer-content">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's
          standard, Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 150.</p>
        <div class="activity-opner">
          <i class="fa fa-bullhorn" aria-hidden="true"></i>
          <i class="fa fa-long-arrow-alt-left" aria-hidden="true"></i>
        </div>
      </div>
      <!-- JOB STATUS Main Content -->
      <div class="job-status job-status-main">
        <div class="job-status-header d-flex">
          <div class="job-status-col d-flex">
            <div class="task-search">
              <div action="" class="form-inline">
                <div class="input-group">
                  <input type="text" name="task-search" class="search-task-input" placeholder="search task">
                  <button class="task-search-btn" type="submit">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
            <!--/.task-search-->

            <div class="job-view">
              <a href="#" role="button" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                <span>view</span>
                <i class="fa fa-list"></i>
              </a>
              <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                <a class="dropdown-item" href="#">
                  <span>All Reports</span>
                </a>
                <a class="dropdown-item" href="#">
                  <span>Create Report</span>
                </a>
                <a class="dropdown-item" href="mydesign">
                  <span>My Report</span>
                </a>
              </div>
            </div>
            <!--/.job-view-->

          </div>
          <!--/.job-status-col-->
          <div class="job-status-col d-flex">
            <ul class="tasks-people-list">
              <li><a href="#"><img class="rounded-circle" src="assets/img/icons/stream-1.png" alt=""></a></li>
              <li><a href="#"><img class="rounded-circle" src="assets/img/icons/stream-2.png" alt=""></a></li>
              <li><a href="#"><img class="rounded-circle" src="assets/img/icons/stream-3.png" alt=""></a></li>
            </ul>
            <a href="javascript:void(0)" class="add-task-link"></a>
          </div>
        </div>
        <!--/.job-status-header-->

        <div class="tasks-status-wrap">
          <div class="row">
            <div class="tasks-status-col col-md-3 col-sm-6">
              <div class="task-notstarted task-box task-primary">
                <div class="task-header">
                  <h4>Not Started</h4>
                  <div class="task-dropdown">
                    <a href="#" role="button" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                      <i class="fas fa-ellipsis-h"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                      <a class="dropdown-item" href="#">
                        <span>All Reports</span>
                      </a>
                      <a class="dropdown-item" href="#">
                        <span>Create Report</span>
                      </a>
                      <a class="dropdown-item" href="mydesign">
                        <span>My Report</span>
                      </a>
                    </div>
                  </div>
                  <!--/.task-dropdown-->
                </div>
                <!--/.task-header-->

                <div class="task-body">
                  <ul class="tasks-list darg-drop-list">
                    <li>
                      <span class="task-tag bg-ferozi low-priority">Low Priority</span>
                      <p>Company web redesign</p>
                      <div class="task-meta">
                        <div class="task-meta-col actione-links">
                          <a href="javascript:void(0)"><i class="fa xen-fa-msg"
                              aria-hidden="true"></i><span>1</span></a>
                          <a href="javascript:void(0)"><i class="fa xen-fa-paperclip"
                              aria-hidden="true"></i><span>1</span></a>
                        </div>
                        <div class="task-meta-col">
                          <a href="javascript:void(0)" class="meta-add-btn"><img src="assets/img/add-btn.png"
                              alt=""></a>
                          <a href="javascript:void(0)" class="meta-user-avatar"><img src="assets/img/icons/stream-1.png"
                              alt="" class="rounded-circle"></a>
                        </div>
                      </div>
                    </li>
                    <li>
                      <span class="task-tag bg-primary medium -priority">Medium Priority</span>
                      <p>Mobile App Delivery</p>
                      <div class="task-meta">
                        <div class="task-meta-col actione-links">
                          <a href="javascript:void(0)"><i class="fa xen-fa-msg"
                              aria-hidden="true"></i><span>1</span></a>
                          <a href="javascript:void(0)"><i class="fa xen-fa-paperclip"
                              aria-hidden="true"></i><span>1</span></a>
                        </div>
                        <div class="task-meta-col">
                          <a href="javascript:void(0)" class="meta-add-btn"><img src="assets/img/add-btn.png"
                              alt=""></a>
                          <a href="javascript:void(0)" class="meta-user-avatar"><img src="assets/img/icons/stream-1.png"
                              alt="" class="rounded-circle"></a>
                        </div>
                      </div>
                    </li>
                    <li>
                      <span class="task-tag bg-danger high-priority">High Priority</span>
                      <p>Client Meeting</p>
                      <div class="task-meta">
                        <div class="task-meta-col actione-links">
                          <a href="javascript:void(0)"><i class="fa xen-fa-msg"
                              aria-hidden="true"></i><span>1</span></a>
                          <a href="javascript:void(0)"><i class="fa xen-fa-paperclip"
                              aria-hidden="true"></i><span>1</span></a>
                        </div>
                        <div class="task-meta-col">
                          <a href="javascript:void(0)" class="meta-add-btn"><img src="assets/img/add-btn.png"
                              alt=""></a>
                          <a href="javascript:void(0)" class="meta-user-avatar"><img src="assets/img/icons/stream-1.png"
                              alt="" class="rounded-circle"></a>
                        </div>
                      </div>
                    </li>
                  </ul>

                  <div class="add-task-btn-group">
                    <a href="javascript:void(0)" class="btn add-task-btn">
                      <img src="assets/img/add-task.png" alt="">
                      <span>Add Task</span>
                    </a>
                  </div>

                </div>
              </div>
            </div><!-- 1/.col-md-3-->

            <div class="tasks-status-col col-md-3 col-sm-6">
              <div class="task-notstarted task-box task-danger">
                <div class="task-header">
                  <h4>In Progress</h4>
                  <div class="task-dropdown">
                    <a href="#" role="button" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                      <i class="fas fa-ellipsis-h"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                      <a class="dropdown-item" href="#">
                        <span>All Reports</span>
                      </a>
                      <a class="dropdown-item" href="#">
                        <span>Create Report</span>
                      </a>
                      <a class="dropdown-item" href="mydesign">
                        <span>My Report</span>
                      </a>
                    </div>
                  </div>
                  <!--/.task-dropdown-->
                </div>
                <!--/.task-header-->

                <div class="task-body">
                  <ul class="tasks-list darg-drop-list">
                    <li>
                      <span class="task-tag bg-ferozi low-priority">Low Priority</span>
                      <p>Company web redesign</p>
                      <div class="task-meta">
                        <div class="task-meta-col actione-links">
                          <a href="javascript:void(0)"><i class="fa xen-fa-msg"
                              aria-hidden="true"></i><span>1</span></a>
                          <a href="javascript:void(0)"><i class="fa xen-fa-paperclip"
                              aria-hidden="true"></i><span>1</span></a>
                        </div>
                        <div class="task-meta-col">
                          <a href="javascript:void(0)" class="meta-add-btn"><img src="assets/img/add-btn.png"
                              alt=""></a>
                          <a href="javascript:void(0)" class="meta-user-avatar"><img src="assets/img/icons/stream-1.png"
                              alt="" class="rounded-circle"></a>
                        </div>
                      </div>
                    </li>
                    <li>
                      <span class="task-tag bg-primary medium -priority">Medium Priority</span>
                      <p>Mobile App Delivery</p>
                      <div class="task-meta">
                        <div class="task-meta-col actione-links">
                          <a href="javascript:void(0)"><i class="fa xen-fa-msg"
                              aria-hidden="true"></i><span>1</span></a>
                          <a href="javascript:void(0)"><i class="fa xen-fa-paperclip"
                              aria-hidden="true"></i><span>1</span></a>
                        </div>
                        <div class="task-meta-col">
                          <a href="javascript:void(0)" class="meta-add-btn"><img src="assets/img/add-btn.png"
                              alt=""></a>
                          <a href="javascript:void(0)" class="meta-user-avatar"><img src="assets/img/icons/stream-1.png"
                              alt="" class="rounded-circle"></a>
                        </div>
                      </div>
                    </li>
                    <li>
                      <span class="task-tag bg-danger high-priority">High Priority</span>
                      <p>Client Meeting</p>
                      <div class="task-meta">
                        <div class="task-meta-col actione-links">
                          <a href="javascript:void(0)"><i class="fa xen-fa-msg"
                              aria-hidden="true"></i><span>1</span></a>
                          <a href="javascript:void(0)"><i class="fa xen-fa-paperclip"
                              aria-hidden="true"></i><span>1</span></a>
                        </div>
                        <div class="task-meta-col">
                          <a href="javascript:void(0)" class="meta-add-btn"><img src="assets/img/add-btn.png"
                              alt=""></a>
                          <a href="javascript:void(0)" class="meta-user-avatar"><img src="assets/img/icons/stream-1.png"
                              alt="" class="rounded-circle"></a>
                        </div>
                      </div>
                    </li>
                  </ul>

                  <div class="add-task-btn-group">
                    <a href="javascript:void(0)" class="btn add-task-btn">
                      <img src="assets/img/add-task.png" alt="">
                      <span>Add Task</span>
                    </a>
                  </div>
                </div>
              </div>
            </div><!-- 2/.col-md-3-->

            <div class="tasks-status-col col-md-3 col-sm-6">
              <div class="task-notstarted task-box task-ferozi">
                <div class="task-header">
                  <h4>On Hold</h4>
                  <div class="task-dropdown">
                    <a href="#" role="button" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                      <i class="fas fa-ellipsis-h"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                      <a class="dropdown-item" href="#">
                        <span>All Reports</span>
                      </a>
                      <a class="dropdown-item" href="#">
                        <span>Create Report</span>
                      </a>
                      <a class="dropdown-item" href="mydesign">
                        <span>My Report</span>
                      </a>
                    </div>
                  </div>
                  <!--/.task-dropdown-->
                </div>
                <!--/.task-header-->

                <div class="task-body">
                  <ul class="tasks-list darg-drop-list">
                    <li>
                      <span class="task-tag bg-ferozi low-priority">Low Priority</span>
                      <p>Company web redesign</p>
                      <div class="task-meta">
                        <div class="task-meta-col actione-links">
                          <a href="javascript:void(0)"><i class="fa xen-fa-msg"
                              aria-hidden="true"></i><span>1</span></a>
                          <a href="javascript:void(0)"><i class="fa xen-fa-paperclip"
                              aria-hidden="true"></i><span>1</span></a>
                        </div>
                        <div class="task-meta-col">
                          <a href="javascript:void(0)" class="meta-add-btn"><img src="assets/img/add-btn.png"
                              alt=""></a>
                          <a href="javascript:void(0)" class="meta-user-avatar"><img src="assets/img/icons/stream-1.png"
                              alt="" class="rounded-circle"></a>
                        </div>
                      </div>
                    </li>
                    <li>
                      <span class="task-tag bg-primary medium -priority">Medium Priority</span>
                      <p>Mobile App Delivery</p>
                      <div class="task-meta">
                        <div class="task-meta-col actione-links">
                          <a href="javascript:void(0)"><i class="fa xen-fa-msg"
                              aria-hidden="true"></i><span>1</span></a>
                          <a href="javascript:void(0)"><i class="fa xen-fa-paperclip"
                              aria-hidden="true"></i><span>1</span></a>
                        </div>
                        <div class="task-meta-col">
                          <a href="javascript:void(0)" class="meta-add-btn"><img src="assets/img/add-btn.png"
                              alt=""></a>
                          <a href="javascript:void(0)" class="meta-user-avatar"><img src="assets/img/icons/stream-1.png"
                              alt="" class="rounded-circle"></a>
                        </div>
                      </div>
                    </li>
                    <li>
                      <span class="task-tag bg-danger high-priority">High Priority</span>
                      <p>Client Meeting</p>
                      <div class="task-meta">
                        <div class="task-meta-col actione-links">
                          <a href="javascript:void(0)"><i class="fa xen-fa-msg"
                              aria-hidden="true"></i><span>1</span></a>
                          <a href="javascript:void(0)"><i class="fa xen-fa-paperclip"
                              aria-hidden="true"></i><span>1</span></a>
                        </div>
                        <div class="task-meta-col">
                          <a href="javascript:void(0)" class="meta-add-btn"><img src="assets/img/add-btn.png"
                              alt=""></a>
                          <a href="javascript:void(0)" class="meta-user-avatar"><img src="assets/img/icons/stream-1.png"
                              alt="" class="rounded-circle"></a>
                        </div>
                      </div>
                    </li>
                  </ul>

                  <div class="add-task-btn-group">
                    <a href="javascript:void(0)" class="btn add-task-btn">
                      <img src="assets/img/add-task.png" alt="">
                      <span>Add Task</span>
                    </a>
                  </div>

                </div>
              </div>
            </div><!-- 3/.col-md-3-->

            <div class="tasks-status-col col-md-3 col-sm-6">
              <div class="task-notstarted task-box task-warning">
                <div class="task-header">
                  <h4>Completed</h4>
                  <div class="task-dropdown">
                    <a href="#" role="button" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                      <i class="fas fa-ellipsis-h"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                      <a class="dropdown-item" href="#">
                        <span>All Reports</span>
                      </a>
                      <a class="dropdown-item" href="#">
                        <span>Create Report</span>
                      </a>
                      <a class="dropdown-item" href="mydesign">
                        <span>My Report</span>
                      </a>
                    </div>
                  </div>
                  <!--/.task-dropdown-->
                </div>
                <!--/.task-header-->

                <div class="task-body">
                  <ul class="tasks-list darg-drop-list">
                    <li>
                      <span class="task-tag bg-ferozi low-priority">Low Priority</span>
                      <p>Company web redesign</p>
                      <div class="task-meta">
                        <div class="task-meta-col actione-links">
                          <a href="javascript:void(0)"><i class="fa xen-fa-msg"
                              aria-hidden="true"></i><span>1</span></a>
                          <a href="javascript:void(0)"><i class="fa xen-fa-paperclip"
                              aria-hidden="true"></i><span>1</span></a>
                        </div>
                        <div class="task-meta-col">
                          <a href="javascript:void(0)" class="meta-add-btn"><img src="assets/img/add-btn.png"
                              alt=""></a>
                          <a href="javascript:void(0)" class="meta-user-avatar"><img src="assets/img/icons/stream-1.png"
                              alt="" class="rounded-circle"></a>
                        </div>
                      </div>
                    </li>
                    <li>
                      <span class="task-tag bg-primary medium -priority">Medium Priority</span>
                      <p>Mobile App Delivery</p>
                      <div class="task-meta">
                        <div class="task-meta-col actione-links">
                          <a href="javascript:void(0)"><i class="fa xen-fa-msg"
                              aria-hidden="true"></i><span>1</span></a>
                          <a href="javascript:void(0)"><i class="fa xen-fa-paperclip"
                              aria-hidden="true"></i><span>1</span></a>
                        </div>
                        <div class="task-meta-col">
                          <a href="javascript:void(0)" class="meta-add-btn"><img src="assets/img/add-btn.png"
                              alt=""></a>
                          <a href="javascript:void(0)" class="meta-user-avatar"><img src="assets/img/icons/stream-1.png"
                              alt="" class="rounded-circle"></a>
                        </div>
                      </div>
                    </li>
                    <li>
                      <span class="task-tag bg-danger high-priority">High Priority</span>
                      <p>Client Meeting</p>
                      <div class="task-meta">
                        <div class="task-meta-col actione-links">
                          <a href="javascript:void(0)"><i class="fa xen-fa-msg"
                              aria-hidden="true"></i><span>1</span></a>
                          <a href="javascript:void(0)"><i class="fa xen-fa-paperclip"
                              aria-hidden="true"></i><span>1</span></a>
                        </div>
                        <div class="task-meta-col">
                          <a href="javascript:void(0)" class="meta-add-btn"><img src="assets/img/add-btn.png"
                              alt=""></a>
                          <a href="javascript:void(0)" class="meta-user-avatar"><img src="assets/img/icons/stream-1.png"
                              alt="" class="rounded-circle"></a>
                        </div>
                      </div>
                    </li>
                  </ul>

                  <div class="add-task-btn-group">
                    <a href="javascript:void(0)" class="btn add-task-btn">
                      <img src="assets/img/add-task.png" alt="">
                      <span>Add Task</span>
                    </a>
                  </div>

                </div>
              </div>
            </div><!-- 4/.col-md-3-->
          </div>
        </div>
      </div>
      <!--End job-status-main-->
    </div>
    <!--/.container-fluid-->
  </div>
  <!--/.content-wrapper-->
  <!-- Activity Stream -->
  <app-activity-stream></app-activity-stream>
</div><!-- /.inner-wrapper -->
<app-footer></app-footer>