<div class="container-fluid">
  <div class="welcome-message">
    <div class="welcome-header d-flex">
       <h3>Task Settings</h3>
      <app-breadcrumb></app-breadcrumb>
    </div>
  </div><!-- /.welcome-message -->
</div>

<div class="inner-wrapper" id="wrapper">
  <div id="content-wrapper">
    <div class="container-fluid">
      <div class="welcome-outer-content">
        <p>This section refers to all details regarding the user settings</p>
        <div class="activity-opner">
          <i class="fa fa-bullhorn" aria-hidden="true"></i>
          <i class="fa fa-long-arrow-alt-left" aria-hidden="true"></i>
        </div>
      </div>
      <!-- EDitor Start  -->
       <div class="icentra-editor creat-template-editor">
            <div class="ic-editor-inner">
              <div class="ic-editor-header">
                <!-- 1 -->
                 <div class="header-active-tool">
                   <span class="header-active-tool-sign">
                     <img src="assets/img/editor/create-task.png" alt="">
                   </span>
                   <div class="header-active-tool-name">
                     <h6>Task</h6>
                     <span>Marketing Set</span>
                   </div>
                 </div>
                <!-- Start Tools -->

                <!-- 1 -->
                <div class="allusers-tools-col">
                       <div action="" class="form">
                        <div class="bulk-action d-flex mr-2">
                           <div class="search-cat-dropdown">
                               <ng-select name="action" [items]="bulkOptions"  style="width: 100px;" [(ngModel)]="selectedBulk" bindLabel="name" bindValue="id" [searchable]="false" placeholder="Bulk Action">
                               </ng-select>
                           </div>
                            <button value="Apply" class="btn-apply allu-btn" [disabled]="deleteDisable === true || selectedBulk === null"
                                    (click)="deleteThose()">Delete
                            </button>
                        </div>
                        </div>
                  </div>

                <!-- 2 -->
                <ul class="ic-header-tool-list">
                  <li><a title="Add New" routerLink="/setting/tasks/marketing/add" >
                        <img src="assets/img/editor/new-user.png" alt="">
                        <span>Add</span>
                      </a>
                  </li>

                  <li><a title="Export" (click)="exportResult()" style="cursor: pointer">
                        <img src="assets/img/editor/export.png" alt="">
                        <span>Export</span>
                      </a>
                    </li>
                </ul>
              </div>
              <div class="ic-editor-body">
                <!-- Mobile Header Tools -->
                <ul class="mb-editer-header-tool">
                  <li><a title="Add New" routerLink="/setting/tasks/marketing/add" >
                        <img src="assets/img/editor/new-user.png" alt="">
                        <span>Add</span>
                      </a>
                  </li>
                  <li><a title="Export"  (click)="exportResult()" style="cursor: pointer">
                        <img src="assets/img/editor/export.png" alt="">
                        <span>Export</span>
                      </a>
                  </li>
                </ul>

                <div class="ic-editor-sidebar">
                  <div class="ic-editor-sidebar-tools">
                    <!-- Tabs -->
                    <ul class="nav --nav-tabs ic-tools-tab" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link" routerLink="/setting/tasks/job-type">
                          <img src="assets/img/editor/job-type.png" alt="">
                          <img src="assets/img/editor/hvr-job-type.png" alt="" class="hvr">
                          <span>Job Type</span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" routerLink="/setting/tasks/category"
                           *ngxPermissionsOnly="['task.printing.manager']">
                          <img src="assets/img/editor/task-catgory.png" alt="">
                          <img src="assets/img/editor/hvr-task-catgory.png" alt="" class="hvr">
                          <span>Printing Type</span>
                        </a>
                      </li>
                      <li class="nav-item" *ngxPermissionsOnly="['task.status.create', 'task.status.edit', 'task.status.delete']">
                        <a class="nav-link" routerLink="/setting/tasks/status">
                          <img src="assets/img/editor/status.png" alt="">
                          <img src="assets/img/editor/hvr-status.png" alt="" class="hvr">
                          <span>Status</span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"  routerLink="/setting/tasks/priority">                          
                           <img src="assets/img/editor/priority.png" alt="">
                           <img src="assets/img/editor/hvr-priority.png" alt="" class="hvr">
                          <span>Priority</span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active"  routerLink="/setting/tasks/marketing">                          
                           <img src="assets/img/editor/marketing.png" alt="">
                           <img src="assets/img/editor/hvr-marketing.png" alt="" class="hvr">
                          <span>Marketing</span>
                        </a>
                      </li>
                        <li class="nav-item">
                            <a class="nav-link "  routerLink="/setting/tasks/printing"
                               *ngxPermissionsOnly="['task.printing.manager']">
                                <img src="assets/img/editor/printing.png" alt="">
                                <img src="assets/img/editor/hvr-printing-pink.png" alt="" class="hvr">
                                <span>Printing</span>
                            </a>
                        </li>
                    </ul>
                    <!-- Tabs Content -->
                    <div class="tab-content ic-tools-tab-content">
                          <div class="search-reports-templates">
                            <div class="form-inline">
                               <div class="input-group">
                                    <input type="text" name="task-search" [(ngModel)]="searched"
                                           (input)="fetchBySearch()"
                                           class="search-task-input search-input"
                                           placeholder="Search Market Sets">
                                    <button type="reset" (click)="searched='';fetchBySearch()" class="close-icon sm" *ngIf="searched"></button>
                                    <button class="task-search-btn" type="submit" *ngIf="!searched">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                          </div><!--/search-->

                          <ul class="all-users-list list--siderbar">
                             <li *ngFor="let t of taskListSearched">
                                 <a [routerLink]="['/setting/tasks/marketing/edit', t.id]">{{t.name}}</a></li>
                          </ul>
                    </div>
                    <!-- End tab-content -->
                 </div><!--/.ic-editor-sidebar-tools-->
                </div><!--/-sidebar-->
                <!-- Main -->
                <div class="user-view-workarea">

                         <!-- Pagination -->
                    <!-- Pagination -->
                    <div class="table-pagination d-flex" *ngIf="taskList?.meta?.pagination">
                        <div class="total-view-result  d-flex">
                            <span>{{ taskList.meta.pagination.total }} Jobs Type</span>
                        </div>
                        <div class="display-per-page  d-flex">
                            <span>Displaying</span>
                            <div class="display-page position-relative">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown"
                                   href="javascript:void(0)" role="button">
                                    <span>{{ taskList.meta.pagination.per_page }}</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-categories">
                                    <a style="cursor: pointer"
                                       *ngFor="let val of [{p:50},{p:75},{p:100},{p:150}]"
                                       class="dropdown-item" (click)="filterItem('per_page',val.p)"
                                       role="button">{{ val.p }}</a>
                                </div>
                            </div>
                            <span>Per Page</span>
                        </div>

                        <div class="next-prev-page  d-flex">
                                    <span>page {{ taskList.meta.pagination.current_page }}
                                        of {{ taskList.meta.pagination.total_pages }}</span>
                            <a class="prev-page cursor-pointer"
                               *ngIf="taskList.meta.pagination.current_page > 1"
                               (click)="filterItem('page', taskList.meta.pagination.current_page -1 )"
                               role="button">
                                <i class="fa fa-caret-left"></i>
                            </a>
                            <input class="page-counter" type="number"
                                   [(ngModel)]="pageNum"
                                   (input)="filterItem('page', pageNum)">
                            <a class="next-page"
                               *ngIf="taskList.meta.pagination.current_page < taskList.meta.pagination.total_pages"
                               (click)="filterItem('page', taskList.meta.pagination.current_page +1 )"
                               role="button">
                                <i class="fa fa-caret-right"></i>
                            </a>
                        </div>
                    </div>

                        <!-- all user table -->
                        <div class="view-users-table">
                           <div class="users-table-header row">
                              <div class="col-1">
                                    <label class="custom-checkbox">
                                        <input type="checkbox" name="all"
                                               (change)="selectAll($event.target.checked)">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                              <div class="col-2">ID</div>
                              <div class="col-4">Name</div>
                              <div class="col-4">Task Set</div>
                              <div class="col text-center">Action</div>
                           </div>
                           <div class="table-body" *ngIf="taskList">
                           	 <!-- 1 -->
                             <div class="table-body-row row" *ngFor="let type of taskList.data">
                                <div class="col-1">
                                    <label class="custom-checkbox">
                                        <input type="checkbox"
                                               [(ngModel)]="checkboxSelection[type.id]"
                                               (change)="checkedBoxStatus(type.id, $event.target.checked)">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                 <div class="col-2">{{type.id}}</div>
                                 <div class="col-4">{{type.name}}</div>
                                <div class="col-4">{{type.marketingTasks.data.length}} Tasks</div>
                                <div class="col text-center">
                                  <a [routerLink]="['/setting/tasks/marketing/edit', type.id]">
                                     <img src="assets/img/editor/edit-tool.png" alt="" width="15px">
                                   </a>
                                </div>
                              </div>
                           </div>
                        </div>

                </div><!--/end-main-->
              </div><!--/body-->
            </div>
      </div>
      <!-- EDitor End -->
    </div>
    <!--/.container-fluid-->
  </div>
  <!--/.content-wrapper-->
  <!-- Activity Stream -->
   <app-activity-stream></app-activity-stream>
</div><!-- /.inner-wrapper -->
