
          <div class="upload-my-image">
             <button class="upload-btn print-popup-toggler" type="button">Create New Design</button>
          </div>
          <div class="search-reports-templates">
		     <form action="" class="form-inline">
		        <div class="input-group tempsection">
		           <input type="text" name="task-search" name="pagesearch"  id="pagesearch" class="search-task-input search-input search-box" placeholder="Search Pages" (input)="searchpages()">
		           <button class="close-icon"  type="reset" (click)="clearvalues()" style="display: none;"></button>
		           <button class="btn-small searchicon task-search-btn" type="submit" (click)="searchpages()">
		           <i class="fa fa-search"></i>
		           </button>
		        </div>
		     </form>
		  </div>
          <div class="editor-templates-wrap">
             <div class="category-type-box" id="pageimgection">
             </div>
          </div>