  <div class="upload-my-image">
     <button class="upload-btn print-popup-toggler" type="button">Create New Design</button>
  </div>                        
  <div class="search-reports-templates">
    <div action="" class="form-inline">
       <div class="input-group">
         <input type="text" name="importsearch"  id="importsearch" class="search-task-input search-input search-box" placeholder="Search Imports" (input)="searchimports()">
           <button class="close-icon"  type="reset" (click)="clearvalues()" style="display: none;"></button>
           <button class="btn-small searchicon task-search-btn" type="submit" (click)="searchimports()">
           <i class="fa fa-search"></i>
           </button>
       </div>
    </div>
  </div><!--/.search-reports-templates-->
  <div class="upload-my-image">
     <button class="upload-btn" type="button" (click)="addimportfile();">Import File</button>
  </div>
  <div class="editor-templates-wrap" style="max-height:550px;" malihu-scrollbar [scrollbarOptions]="inset2dark">
    <div class="category-type-box"  id="importimgection">
    </div>
     
  </div><!--/.editor-templates-wrap-->

  <div class="modal fade icentra-popup new-icentra-popup" id="addimportmodal">
     <div class="modal-dialog modal-dialog-centered">
       <div class="modal-content">
        <form #importForm="ngForm" (ngSubmit)="onImportSubmit(importForm)" id="importform">
                 <!-- Modal Header -->
                 <div class="modal-header">
                    <span> Add Import</span>
                   <a href="javascript:;" class="close" data-dismiss="modal">
                     <img src="assets/img/icons/popup-close.png" alt="">
                   </a>
                 </div>
                 <!-- Modal body -->
                 <div class="modal-body">
                       <!--   <div class="form-group">
                             <label for="role" class="catsec">Import Name</label>
                            <input type="text" class="form-control catsec" placeholder="Enter Name" name="name" id="name" ngModel>
                         </div> -->
                         <div class="form-group">
                             <label for="role" class="catsec">Import File</label>
                             <input type="file" class="form-control-file catsec" id="path" style="margin-left: 18px;" name="path" (change)="onFileChange($event)" #fileInput  accept="image/x-png,image/jpeg,image/svg+xml" multiple="multiple">
                         </div>

                      
                 </div>
                 <!-- Modal footer -->
                 <div class="modal-footer">
                   <button type="submit" class="btn btn-primary addimagemodal-btn">Add</button>
                   <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                 </div>
          </form>
       </div>
     </div>
   </div>
