<div class="container-fluid">
  <div class="welcome-message">
    <div class="welcome-header d-flex">
       <h3>Setting</h3>
      <app-breadcrumb></app-breadcrumb>
    </div>
  </div><!-- /.welcome-message -->
</div>

<div class="inner-wrapper" id="wrapper">
  <div id="content-wrapper">
    <div class="container-fluid">
      <div class="welcome-outer-content">
        <p>This section refers to all details retgarding the user settings</p>
        <div class="activity-opner">
          <i class="fa fa-bullhorn" aria-hidden="true"></i>
          <i class="fa fa-long-arrow-alt-left" aria-hidden="true"></i>
        </div>
      </div>
      <!-- EDitor Start  -->
       <div class="icentra-editor creat-template-editor">
            <div class="ic-editor-inner">
              <div class="ic-editor-header">
                <!-- 1 -->
                 <div class="header-active-tool">
                   <span class="header-active-tool-sign">
                     <img src="assets/img/editor/user-setting.png" alt="">
                   </span>
                   <div class="header-active-tool-name">
                     <h6>Users</h6>
                     <span>Create New Office</span>
                   </div>
                 </div>
              </div>
              <div class="ic-editor-body">
                <div class="ic-editor-sidebar no-tab-content">
                  <div class="ic-editor-sidebar-tools">
                    <!-- Tabs -->
                    <ul class="nav --nav-tabs ic-tools-tab" role="tablist">
                        <li class="nav-item" *ngxPermissionsOnly="['user.view','user.add','user.edit','user.delete','user.export']">
                          <a class="nav-link" id="user-tab" data-toggle="tab" routerLink="/setting/list/users">
                            <img src="assets/img/editor/user.png" alt="">
                            <img src="assets/img/editor/hvr-user.png" alt="" class="hvr">
                            <span>Users</span>
                          </a>
                        </li>
                        <li class="nav-item" *ngxPermissionsOnly="['groups.manage']">
                          <a class="nav-link" routerLink="/setting/list/groups">
                            <img src="assets/img/editor/groups.png" alt="">
                            <img src="assets/img/editor/hvr-groups.png" alt="" class="hvr">
                            <span>Groups</span>
                          </a>
                        </li>
                        <li class="nav-item" *ngxPermissionsOnly="['offices.manage']">
                          <a class="nav-link active" routerLink="/setting/list/offices">
                            <img src="assets/img/editor/office.png" alt="">
                            <img src="assets/img/editor/hvr-office.png" alt="" class="hvr">
                            <span>U/Office</span>
                          </a>
                        </li>
                        <li class="nav-item" *ngxPermissionsOnly="['permissions.manage']">
                          <a class="nav-link"  routerLink="/setting/list/permissions">
                            <img src="assets/img/editor/access.png" alt="">
                            <img src="assets/img/editor/hvr-access.png" alt="" class="hvr">
                            <span>Access</span>
                          </a>
                        </li>
                        <li class="nav-item" *ngxPermissionsOnly="['level.manage']">
                            <a class="nav-link"  routerLink="/setting/list/users/level">
                                <img src="assets/img/editor/levels.png" alt="">
                                <img src="assets/img/editor/levels-hover.png" alt="" class="hvr">
                            </a>
                        </li>
                      </ul>
                      <!-- Tabs Content -->
                 </div><!--/.ic-editor-sidebar-tools-->
                </div><!--/-sidebar-->
                <!-- Main -->
                <div class="user-workarea">
                    <form [formGroup]="OfficeFrom" (submit)="addOffice()" class="form">
                         <div class="create-user-form">
                            <div class="row">
                               <div class="col-md-6">

                                  <div class="form-group">
                                     <label for="name">Office Name</label>
                                     <input type="text" class="form-control" formControlName="name">
                                     <span class="dummy-text" *ngIf="OfficeFrom.controls['name'].touched">
                                      <span class="form-error" *ngIf="OfficeFrom.controls['name'].hasError('required')">Office name is required</span>
                                     </span>
                                  </div>

                                   <h3>Contact Person</h3>

                                  <div class="row">
                                     <div class="col-md-6">
                                        <div class="form-group">
                                          <label for="first_name">First Name</label>
                                          <input type="text" class="form-control" formControlName="first_name">
                                          <span class="form-error" *ngIf="OfficeFrom.controls['first_name'].touched && OfficeFrom.controls['first_name'].hasError('required')">First name is required</span>
                                        </div>
                                     </div>
                                     <div class="col-md-6">
                                        <div class="form-group">
                                          <label for="last_name">Last Name</label>
                                          <input type="text" class="form-control" formControlName="last_name">
                                          <span class="form-error" *ngIf="OfficeFrom.controls['last_name'].touched && OfficeFrom.controls['last_name'].hasError('required')">Last name is required</span>
                                        </div>
                                     </div>
                                  </div>

                                  <div class="form-group">
                                     <label for="email">Email</label>
                                     <input type="text" class="form-control" formControlName="email">
                                     <span class="form-error" *ngIf="OfficeFrom.controls['email'].touched && OfficeFrom.controls['email'].hasError('email')">Please provide valid email address.<br></span>
                                  </div>

                                  <div class="form-group">
                                     <label for="mobile">Contact Number</label>
                                     <input type="text" class="form-control" formControlName="mobile">
                                     <span class="form-error" *ngIf="OfficeFrom.controls['mobile'].touched && OfficeFrom.controls['mobile'].hasError('required')">Contact Number is required</span>
                                  </div>

                                  <div class="form-group">
                                     <label for="website">Website</label>
                                     <input type="text" class="form-control" formControlName="website">
                                     <span class="form-error" *ngIf="OfficeFrom.controls['website'].touched && OfficeFrom.controls['website'].hasError('required')">Website is required</span>
                                  </div>
                               </div>
                               <div class="col-md-6">
                                  <div class="form-group">
                                      <label for="role">Marketing Group</label>
                                      <ng-select formControlName="group_id" [items]="Groups" bindLabel="name" bindValue="id" [searchable]="true" placeholder="Select Group">

                                      </ng-select>
                                      <span class="form-error" *ngIf="OfficeFrom.controls['group_id'].touched && OfficeFrom.controls['group_id'].hasError('required')">Group is required</span>
                                  </div>
                                   <h3 class="invisible">invisible</h3>


                                  <div class="form-group">
                                     <label for="position">Position</label>
                                     <input type="text" class="form-control" formControlName="position">
                                     <span class="form-error" *ngIf="OfficeFrom.controls['position'].touched && OfficeFrom.controls['position'].hasError('required')">Position is required</span>
                                  </div>

                                  <div class="form-group">
                                     <label for="address">Address</label>
                                     <input type="text" class="form-control" formControlName="address_line_1">
                                     <span class="form-error" *ngIf="OfficeFrom.controls['address_line_1'].touched && OfficeFrom.controls['address_line_1'].hasError('required')">Address is required</span>
                                     <br>
                                     <input type="text" class="form-control" formControlName="address_line_2">
                                  </div>

                                  <div class="row">
                                     <div class="col-md-6">
                                        <div class="form-group">
                                          <label for="country">Country</label>
                                          <input type="text" class="form-control" formControlName="country">
                                          <span class="form-error" *ngIf="OfficeFrom.controls['country'].touched && OfficeFrom.controls['country'].hasError('required')">Country is required</span>
                                        </div>
                                     </div>
                                     <div class="col-md-6">
                                        <div class="form-group">
                                          <label for="state">State</label>
                                          <input type="text" class="form-control" formControlName="state">
                                          <span class="form-error" *ngIf="OfficeFrom.controls['state'].touched && OfficeFrom.controls['state'].hasError('required')">State is required</span>
                                        </div>
                                     </div>
                                  </div>

                                  <div class="row">
                                     <div class="col-md-6">
                                        <div class="form-group">
                                          <label for="suburb">Suburb</label>
                                          <input type="text" class="form-control" formControlName="suburb">
                                          <span class="form-error" *ngIf="OfficeFrom.controls['suburb'].touched && OfficeFrom.controls['suburb'].hasError('required')">Suburb Number is required</span>
                                        </div>
                                     </div>
                                     <div class="col-md-6">
                                        <div class="form-group">
                                          <label for="postcode">Postcode</label>
                                          <input type="text" class="form-control" formControlName="postcode">
                                          <span class="form-error" *ngIf="OfficeFrom.controls['postcode'].touched && OfficeFrom.controls['postcode'].hasError('required')">Post code is required</span>
                                        </div>
                                     </div>
                                  </div>

                               </div>

                               <div class="col-md-12">
                           		 <div class="form-group">
                                     <label for="notes">Notes</label>
                                     <textarea formControlName="notes" class="form-control" cols="20" rows="5"></textarea>
                                  </div>
                               </div>


							   <div class="col-md-12">
                                	<div class="form-group text-right">
                                      <input type="submit" class="btn btn-primary" value="Create Office">
                                	</div>
                            	</div>
                            </div>
                         </div>
                    </form>
                </div><!--/end-main-->
              </div><!--/body-->
            </div>
      </div>
      <!-- EDitor End -->
    </div>
    <!--/.container-fluid-->
  </div>
  <!--/.content-wrapper-->
  <!-- Activity Stream -->
   <app-activity-stream></app-activity-stream>
</div><!-- /.inner-wrapper -->
<app-footer></app-footer>
