<form [formGroup]="ResetFrom" (ngSubmit)="resetPassword()" class="login-form">

  <div *ngIf="error" class="alert alert-danger" [hidden]="!error">{{error}}</div>
  <div *ngIf="success" class="alert alert-success" [hidden]="!success">{{success}}</div>

   <div class="form-col">
    <label>Email</label>
     <i class="fa fa-user"></i>
     <input type="email" formControlName="email" class="form-input"  placeholder="Email" required />
      <div *ngIf="ResetFrom.controls['email'].touched" class="invalid-form">
          <div *ngIf="ResetFrom.controls['email'].hasError('required') || ResetFrom.controls['email'].hasError('email')">Valid email is required</div>
      </div>
   </div>

   <div class="form-col">
    <label>Password</label>
     <i class="fa fa-key"></i>
     <input type="password" formControlName="password" class="form-input"  placeholder="password" required />
      <div class="invalid-form">
          <div *ngIf="ResetFrom.controls['password'].hasError('required') && ResetFrom.controls['password'].touched">Password is required</div>
      </div>
   </div>
   <div class="form-col">
    <label>Confirm Password</label>
     <i class="fa fa-key"></i>
     <input type="password" formControlName="password_confirmation" class="form-input"  placeholder="Password Confirmation" required/>
      <div class="invalid-form">
          <div *ngIf="ResetFrom.controls['password_confirmation'].hasError('required') && ResetFrom.controls['password_confirmation'].touched">Password Confirmation is required</div>
          <div *ngIf="(ResetFrom.controls['password'].value != ResetFrom.controls['password_confirmation'].value) && ResetFrom.controls['password_confirmation'].touched">Password and confirm password should be same.</div>
      </div>
   </div>


   <div class="form-row login-form-row">
        <div class="form-col btn-col m-0" *ngIf="success">
          <a [routerLink]="['/login']" class="login-btn">login</a>
      </div>
       <div class="form-col btn-col m-0" *ngIf="!success">
          <button type="submit" [disabled]="!validToken || ResetFrom.invalid || loading" class="login-btn">Reset Password</button>
      </div>
    </div>

</form>
