    <!-- Tabs -->
                    <ul class="nav --nav-tabs ic-tools-tab" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link"  routerLinkActive="active" routerLink="/setting/general">
                          <img src="assets/img/editor/alerts.png" alt="">
                          <img src="assets/img/editor/hvr-alerts.png" alt="" class="hvr">
                          <span>Alerts</span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <!-- routerLink="/site-settings/restore" -->
                        <a class="nav-link"   routerLink="/setting/general" routerLinkActive="">
                          <img src="assets/img/editor/website-world.png" alt="">
                          <img src="assets/img/editor/hvr-website-world.png" alt="" class="hvr">
                          <span>Website</span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"  routerLink="/setting/general/library" routerLinkActive="">
                          <img src="assets/img/editor/library.png" alt="">
                          <img src="assets/img/editor/hvr-library.png" alt="" class="hvr">
                          <span>Library</span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"   routerLink="/setting/general" routerLinkActive="">
                          <img src="assets/img/editor/doller.png" alt="">
                          <img src="assets/img/editor/hvr-doller.png" alt="" class="hvr">
                          <span>Pricing</span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"   routerLink="/setting/general" routerLinkActive="">
                          <img src="assets/img/editor/printing-s.png" alt="">
                          <img src="assets/img/editor/hvr-printing-s.png" alt="" class="hvr">
                          <span>Printing</span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"   routerLink="/setting/general" routerLinkActive="">
                          <img src="assets/img/editor/activity.png" alt="">
                          <img src="assets/img/editor/hvr-activity.png" alt="" class="hvr">
                          <span>Activity</span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"   routerLink="/setting/general" routerLinkActive="">
                          <img src="assets/img/editor/restore.png" alt="">
                          <img src="assets/img/editor/hvr-restore.png" alt="" class="hvr">
                          <span>Restore</span>
                        </a>
                      </li>
                    </ul>
