<ul class="nav nav-tabs ic-tools-tab">
    <li class="nav-item">
      <a class="nav-link" id="kits-tab"  href="#kits-content" (click)="showtemplates('kits-tab')"
      [className]="active=='kits-tab'? 'nav-link active': 'nav-link'">
        <img src="assets/img/editor/kits.png" alt="">
        <span>Design</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link"  id="rea-tab" href="#rea-content" (click)="showrea('rea-tab')"
      [className]="active=='rea-tab'? 'nav-link active': 'nav-link'">
        <img src="assets/img/editor/REA.png" alt="">
        <span>CRM</span>
      </a>
    </li>

    <!-- <li class="nav-item">
      <a class="nav-link" id="pages-tab" href="#pages-content" (click)="showpages('pages-tab')"
      [className]="active=='pages-tab'? 'nav-link active': 'nav-link'">
        <img src="assets/img/editor/pages.png" alt="">
        <span>Pages</span>
      </a>
    </li> -->
    
    <li class="nav-item">
      <a class="nav-link" id="images-tab"  href="#images-content" (click)="showimages('images-tab')"
      [className]="active=='images-tab'? 'nav-link active': 'nav-link'">
        <img src="assets/img/editor/images.png" alt="">
        <span>Images</span>
      </a>
    </li>


    <li class="nav-item">
      <a class="nav-link" id="text-tab"  href="#text-content" (click)="showtext('text-tab')"
      [className]="active=='text-tab'? 'nav-link active': 'nav-link'">
        <img src="assets/img/editor/text.png" alt="">
        <span>Texts</span>
      </a>
    </li>


    <li class="nav-item">
      <a class="nav-link"  id="icons-tab"  href="#icons-content" (click)="showicons('icons-tab')"
      [className]="active=='icons-tab'? 'nav-link active': 'nav-link'">
        <img src="assets/img/editor/icons.png" alt="">
        <span>Icons</span>
      </a>
    </li>


    <li class="nav-item">
      <a class="nav-link"  id="shapes-tab" href="#shapes-content" (click)="showshapes('shapes-tab')"
      [className]="active=='shapes-tab'? 'nav-link active': 'nav-link'">
        <img src="assets/img/editor/shapes.png" alt="">
        <span>Shapes</span>
      </a>
    </li>


    <li class="nav-item">
      <a class="nav-link" id="background-tab"  href="#backgrounds-content"(click)="showbgimgs('background-tab')"
      [className]="active=='background-tab'? 'nav-link active': 'nav-link'">
        <img src="assets/img/editor/background.png" alt="">
        <span>Bkground </span>
      </a>
    </li>


    <!-- <li class="nav-item">
      <a class="nav-link" id="draw-tab" data-toggle="tab" href="#draw-content" (click)="showdraw()">
        <img src="assets/img/editor/draw.png" alt="">
        <span>Draw</span>
      </a>
    </li> -->


    <li class="nav-item">
      <a class="nav-link"  id="import-tab"  href="#import-content" (click)="showimports('import-tab')"
      [className]="active=='import-tab'? 'nav-link active': 'nav-link'">
        <img src="assets/img/editor/import2.png" alt="">
        <span>Import</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" id="fields-tab"  href="#fields-content" (click)="showfieldsinfo('fields-tab')"
      [className]="active=='fields-tab'? 'nav-link active': 'nav-link'">
        <img src="assets/img/editor/merge-fields.png" alt="">
        <span>Merge Fields</span>
      </a>
    </li>

</ul>