<!-- Tabs -->
                    <ul class="nav --nav-tabs ic-tools-tab" role="tablist">
                      <li class="nav-item">
                        <!-- routerLink="/site-settings/version" -->
                        <a class="nav-link"  routerLink="/setting/site-settings" routerLinkActive="active">
                          <img src="assets/img/editor/version.png" alt="">
                          <span>Version</span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <!-- routerLink="/site-settings/help" -->
                        <a class="nav-link" routerLink="/setting/site-settings" >
                          <img src="assets/img/editor/help.png" alt="">
                          <span>Help</span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <!-- routerLink="/site-settings/errors" -->
                        <a class="nav-link"  routerLink="/setting/site-settings" >
                          <img src="assets/img/editor/error.png" alt="">
                          <span>Errors</span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <!--  routerLink="/site-settings/log"  -->
                        <a class="nav-link" routerLink="/setting/site-settings" >
                          <img src="assets/img/editor/log.png" alt="">
                          <span>Log</span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <!-- routerLink="/site-settings/recycle" -->
                        <a class="nav-link"   routerLink="/setting/site-settings" >
                          <img src="assets/img/editor/yel-recycle.png" alt="">
                          <span>Recycle</span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <!-- routerLink="/site-settings/restore" -->
                        <a class="nav-link"   routerLink="/setting/site-settings" >
                          <img src="assets/img/editor/restore.png" alt="">
                          <span>Restore</span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"  routerLink="/setting/site-settings" routerLink="/site-settings/payment">
                          <img src="assets/img/editor/payment.png" alt="">
                          <span>Payment</span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"  routerLink="/setting/site-settings" routerLink="/site-settings/software" >
                          <img src="assets/img/editor/software.png" alt="">
                          <span>Software</span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link"  routerLink="/setting/site-settings" routerLink="/site-settings/license" >
                          <img src="assets/img/editor/license.png" alt="">
                          <span>License</span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <!-- routerLink="/site-settings/referal" -->
                        <a class="nav-link"   routerLink="/setting/site-settings" >
                          <img src="assets/img/editor/referal.png" alt="">
                          <span>Referal</span>
                        </a>
                      </li>
                    </ul>