.colorselectorline{
  height: 30px;
  width: 40%;
}
.colorselectorshadow
{
  height: 30px;
  width: 40%;
}
#drawing-line-width {
     /*margin-left: -9px;
     margin-top: 15px;*/
     width: 100%;
}
 #drawing-shadow-width {
     /*margin-left: -6px;
     margin-top: 15px;*/
     width: 85%;
}
#drawing-shadow-offset{
   width: 100%;
}
.drawslider {
  -webkit-appearance: none;
  height: 5px;
  background: #808080;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.drawslider:hover {
  opacity: 1;
}

.drawslider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #d3d3d3;
  cursor: pointer;
  border-radius: 50%;
}


#drawing-mode-selector{
  width: 100%;
  color: #78787a;
  background: #f5f5f5;
  font-size: 12px;
  border: 1px solid #ccc;
  height: 24px;
  max-width:90px;
}