<div class="container-fluid">
    <div class="welcome-message">
      <div class="welcome-header d-flex">
         <h3>Setting</h3>
        <app-breadcrumb></app-breadcrumb>
      </div>
    </div><!-- /.welcome-message -->
  </div>

  <div class="inner-wrapper" id="wrapper">
    <div id="content-wrapper">
      <div class="container-fluid">
        <div class="welcome-outer-content">
          <p>This section refers to all details retgarding the user settings</p>
          <div class="activity-opner">
            <i class="fa fa-bullhorn" aria-hidden="true"></i>
            <i class="fa fa-long-arrow-alt-left" aria-hidden="true"></i>
          </div>
        </div>
        <!-- EDitor Start  -->
         <div class="icentra-editor creat-template-editor">
              <div class="ic-editor-inner">
                <div class="ic-editor-header">
                  <!-- 1 -->
                   <div class="header-active-tool">
                     <span class="header-active-tool-sign">
                       <img src="assets/img/editor/user-setting.png" alt="">
                     </span>
                     <div class="header-active-tool-name">
                       <h6>Users</h6>
                       <span>Edit User</span>
                     </div>
                   </div>
                  <!-- Start Tools -->
                  <!-- 3 -->
                  <ul class="ic-header-tool-list">
                    <li><a title="Add New User" routerLink="/setting/list/users/add">
                          <img src="assets/img/editor/new-user.png" alt="">
                          <span>Add</span>
                        </a>
                    </li>
                  </ul>
                </div>
                <div class="ic-editor-body">
                  <!-- Mobile Header Tools -->
                  <ul class="mb-editer-header-tool">
                    <li><a title="Add New User" routerLink="/setting/users/add" class="icentra-download">
                          <img src="assets/img/editor/new-user.png" alt="">
                        </a>
                    </li>
                  </ul>

                  <div class="ic-editor-sidebar no-tab-content">
                    <div class="ic-editor-sidebar-tools">
                      <!-- Tabs -->
                    <ul class="nav --nav-tabs ic-tools-tab" role="tablist">
                        <li class="nav-item" *ngxPermissionsOnly="['user.view','user.add','user.edit','user.delete','user.export']">
                          <a class="nav-link active" id="user-tab" data-toggle="tab" routerLink="/setting/list/users">
                            <img src="assets/img/editor/user.png" alt="">
                            <img src="assets/img/editor/hvr-user.png" alt="" class="hvr">
                            <span>Users</span>
                          </a>
                        </li>
                        <li class="nav-item" *ngxPermissionsOnly="['groups.manage']">
                          <a class="nav-link" routerLink="/setting/list/groups">
                            <img src="assets/img/editor/groups.png" alt="">
                            <img src="assets/img/editor/hvr-groups.png" alt="" class="hvr">
                            <span>Groups</span>
                          </a>
                        </li>
                        <li class="nav-item" *ngxPermissionsOnly="['offices.manage']">
                          <a class="nav-link" routerLink="/setting/list/offices">
                            <img src="assets/img/editor/office.png" alt="">
                            <img src="assets/img/editor/hvr-office.png" alt="" class="hvr">
                            <span>U/Office</span>
                          </a>
                        </li>
                        <li class="nav-item" *ngxPermissionsOnly="['permissions.manage']">
                          <a class="nav-link"  routerLink="/setting/list/permissions">
                            <img src="assets/img/editor/access.png" alt="">
                            <img src="assets/img/editor/hvr-access.png" alt="" class="hvr">
                            <span>Access</span>
                          </a>
                        </li>
                        <li class="nav-item" *ngxPermissionsOnly="['level.manage']">
                            <a class="nav-link"  routerLink="/setting/list/users/level">
                                <img src="assets/img/editor/levels.png" alt="">
                                <img src="assets/img/editor/levels-hover.png" alt="" class="hvr">
                            </a>
                        </li>
                      </ul>
                      <!-- Tabs Content -->
                   </div><!--/.ic-editor-sidebar-tools-->
                  </div><!--/-sidebar-->
                  <!-- Main -->
                  <div class="user-workarea">
                      <form [formGroup]="UserForm" class="form" (ngSubmit)="updateUser()" >
                           <div class="create-user-form">
                             <div *ngIf="error" class="alert alert-danger" [hidden]="!error">
                               <li *ngFor="let e of error">{{ e }}</li>
                              </div>

                              <div class="row">
                                 <div class="col-md-6">

                                    <div class="form-group">
                                       <label for="username">Username</label>
                                       <input type="text" class="form-control" formControlName="username">
                                       <span class="dummy-text">usernames cannot be changed</span>
                                    </div>

                                    <div class="row">
                                       <div class="col-md-6">
                                          <div class="form-group">
                                            <label for="lastname">First Name</label>
                                            <input type="text" class="form-control" formControlName="first_name">
                                            <span class="dummy-text" *ngIf="UserForm.controls['first_name'].touched">
                                              <span class="form-error" *ngIf="UserForm.controls['first_name'].hasError('required')">First name is required<br></span>
                                           </span>
                                          </div>
                                       </div>
                                       <div class="col-md-6">
                                          <div class="form-group">
                                            <label for="firstname">Last Name</label>
                                            <input type="text" class="form-control" formControlName="last_name">
                                            <span class="dummy-text" *ngIf="UserForm.controls['last_name'].touched">
                                              <span class="form-error" *ngIf="UserForm.controls['last_name'].hasError('required')">Last name is required<br></span>
                                           </span>
                                          </div>
                                       </div>
                                    </div>

                                    <div class="row">
                                       <div class="col-md-7">
                                          <div class="form-group">
                                             <label for="password">Password</label>
                                             <div class="input-group">
                                               <input [type]="passType ? passType : 'password'"  class="form-control" formControlName="password" value="{{randomstring}}" >
                                               <i class="fa fa-eye pass-toggler" (click)="togglePasswordType()"></i>
                                             </div>
                                             <span class="dummy-text" *ngIf="UserForm.controls['password'].touched">
                                              <span class="form-error" *ngIf="UserForm.controls['password'].hasError('required')">Password is required<br></span>
                                              <span class="form-error" *ngIf="UserForm.controls['password'].hasError('minlength')">Must be at least 8 characters.<br></span>
                                              </span>

                                          </div>
                                       </div>
                                       <div class="col-md-5">
                                          <div class="form-group">
                                            <label for="password" class="invisible">Password</label>
                                             <a href="javascript:void" class="btn btn-secondary w-100" (click)="generatePassword()">Change Password</a>
                                          </div>
                                       </div>
                                    </div>


                                    <h3>User Profile</h3>


                                    <div class="form-group">
                                       <label for="email">Email</label>
                                       <input type="text" class="form-control" formControlName="email">
                                       <span class="dummy-text" *ngIf="UserForm.controls['email'].touched">
                                          <span class="form-error" *ngIf="UserForm.controls['email'].hasError('required')">Email is required<br></span>
                                          <span class="form-error" *ngIf="UserForm.controls['email'].hasError('email')">Please provide valid email address.<br></span>
                                       </span>

                                    </div>

                                    <div class="form-group">
                                       <label for="mobile">Mobile Number</label>
                                       <input type="text" class="form-control" formControlName="mobile">
                                    </div>

                                    <div class="form-group">
                                       <label for="position">Position</label>
                                       <input type="text" class="form-control" formControlName="position">
                                    </div>

                                    <div class="form-group">
                                      <div class="profile-picture">
                                        <div class="profile-img-wrap">
                                          <span *ngIf="url" (click)="delete()" class="close" ><i class="fa fa-times"></i></span>
                                          <label  for="fileInput">
                                             <div class="profile-img">
                                             <img [src]="url ? url : (User.photo ? User.photo : 'assets/img/lg-profile.png')">
                                          </div>
                                          </label>
                                        </div>
                                         <label for="fileInput"><span>change profile picture</span></label>
                                        <div class="background"></div>
                                      </div>
                                      <br/>
                                      <input id="fileInput" type='file' (change)="onSelectFile($event)">
                                    </div>

                                    <div class="form-group">
                                       <label for="profilepicture">Biography</label>
                                       <textarea formControlName="bio" class="form-control" cols="20" rows="5"></textarea>
                                    </div>
                                 </div>
                                 <div class="col-md-6">
                                     <div class="form-group">
                                         <label for="level">Level</label>
                                         <ng-select formControlName="user_level_id" [items]="levels" bindLabel="name" bindValue="id" [searchable]="true" placeholder="Select User Level">

                                         </ng-select>
                                     </div>
                                    <div class="form-group">
                                        <label for="role">Role</label>
                                        <ng-select formControlName="role_id" [items]="roles" bindLabel="name" bindValue="id" [searchable]="true" placeholder="Select Role">

                                        </ng-select>
                                        <span class="dummy-text" *ngIf="UserForm.controls['role_id'].touched">
                                          <span class="form-error" *ngIf="UserForm.controls['role_id'].hasError('required')">Role is required<br></span>
                                        </span>
                                    </div>
                                    <div class="form-group">
                                        <label for="office">Office</label>
                                        <ng-select formControlName="office" [multiple]="true" [items]="offices" bindLabel="name" bindValue="id" [searchable]="true" placeholder="Select Office">

                                        </ng-select>
                                        <span class="dummy-text" *ngIf="UserForm.controls['office'].touched">
                                            <span class="form-error" *ngIf="UserForm.controls['office'].hasError('required')">Office is required<br></span>
                                         </span>
                                    </div>
                                    <div class="form-group">
                                        <label for="group">Groups</label>
                                        <ng-select formControlName="group" [multiple]="true" [items]="groups" bindLabel="name" bindValue="id" [searchable]="true" placeholder="Change Groups">
                                        </ng-select>
                                    </div>


                                    <h3>SOCIAL SETTINGS</h3>

                                    <div class="form-group">
                                       <label for="facebookurl">Facebook URL</label>
                                       <input type="text" class="form-control" formControlName="facebook">
                                    </div>

                                    <div class="form-group">
                                       <label for="twitterurl">Twitter URL</label>
                                       <input type="text" class="form-control" formControlName="twitter">
                                    </div>

                                    <div class="form-group">
                                       <label for="instagramurl">Instagram  URL</label>
                                       <input type="text" class="form-control" formControlName="instagram">
                                    </div>

                                    <div class="form-group">
                                       <label for="linkedInurl">LinkedIn URL</label>
                                       <input type="text" class="form-control" formControlName="linkedin">
                                    </div>

                                    <div class="form-group">
                                       <label for="websiteurl">Website URL</label>
                                       <input type="text" class="form-control" formControlName="website">
                                    </div>

                                    <h3>INTEGRATION</h3>

                                    <div class="form-group">
                                       <label for="crmlink">Rex CRM Email</label>
                                       <input type="text" class="form-control" formControlName="crm_email">
                                       <span class="dummy-text" *ngIf="UserForm.controls['crm_email'].touched">
                                        <span class="form-error" *ngIf="UserForm.controls['crm_email'].hasError('email')">Please provide valid email</span>
                                      </span>
                                    </div>
                                    <div class="form-group">
                                       <label for="crmlink">Rex CRM Password</label>
                                       <input type="text" class="form-control" formControlName="crm_password" [placeholder]="'*****'">
                                    </div>

                                    <div class="form-group text-right">
                                        <span class="btn btn-primary" (click)="testRex()"> Test Connection</span>
                                    </div>

                                 </div>


                                 <div class="col-md-12 mt-3">
                                    <div class="form-group text-right">
                                        <input type="submit" class="btn btn-primary" value="Update User">
                                    </div>
                                 </div>

                              </div>
                           </div>
                      </form>
                  </div><!--/end-main-->
                </div><!--/body-->
              </div>
        </div>
        <!-- EDitor End -->
      </div>
      <!--/.container-fluid-->
    </div>
    <!--/.content-wrapper-->
    <!-- Activity Stream -->
     <app-activity-stream></app-activity-stream>
  </div><!-- /.inner-wrapper -->
