<ul class="nav --nav-tabs ic-tools-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" routerLink="/setting/templates/images/siteimages">
      <img src="assets/img/editor/tmp-images.png" alt="">
      <img src="assets/img/editor/hvr-tmp-images-y.png" alt="" class="hvr">
      <span>Images</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/setting/templates/vector/icons">
      <img src="assets/img/editor/vector.png" alt="">
      <img src="assets/img/editor/hvr-vector.png" alt="" class="hvr">
      <span>Vector</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/setting/templates/canvas">
      <img src="assets/img/editor/canvas.png" alt="">
      <img src="assets/img/editor/hvr-canvas.png" alt="" class="hvr">
      <span>Canvas</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link"  routerLink="/setting/templates/category/background">                          
       <img src="assets/img/editor/category.png" alt="">
       <img src="assets/img/editor/hvr-category.png" alt="" class="hvr">
      <span>Category</span>
    </a>
  </li>
</ul>